:root {
    --primary-color: #4CAF50;
    --secondary-color: #f00;
}

html{
    scroll-padding-top: 100px;
}

body {
    height: auto!important;
}

/* 
.nav-bar{
    height: 50vh;
    width: 100%;
   margin-top: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
nav img{
    height: 300pxpx;
    width: 200px;
    padding-top: 0px;
}
nav ul li {
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
    height: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: brown;
    transition: .3s ;
}
button{
    padding: 10px; 
    font-size: 16px; 
    background-color: var(--primary-color); 
    color: white; border: none; border-radius: 5px; cursor: pointer;
} */
/* COVER SLIKA I DUGME */
.hero-image {
   position: relative;
    max-height: 70vh;
    /* height: 70vh; */
    overflow: hidden;
}

/* Style for the image */
img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default spacing */
}

/* Style for the button */
.hero-image-button {
    position: absolute;
    top: 50%; /* Position the button at the vertical center */
    left: 50%; /* Position the button at the horizontal center */
    transform: translate(-50%, -50%); /* Center the button precisely */
    max-width: 300px;
    height: 20%;
    min-height: 50px;
    width: 70vw;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width:400px ;
    height: 100px; */
}

.meni h2 {
    text-align: center;
}

.tortije{
    padding: 30px;
}

.dodaci h5 {
   text-align: center;
   margin-bottom:0 ;
  }

.dodatak {
    white-space: nowrap;;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.navbar{
    box-shadow: 0px 0px 11px 5px var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
.navbar-brand {
    max-width: 70px;
}
@media (max-width: 767px)
{
    .navbar-brand {
        max-width: 65px;
        width: auto;
        height: 56px;
    }
    .navbar-brand img {
        width: auto;
        height: 100%;
    }
    .footer-wrapper {
        padding-bottom: 90px !important;
    }
}

.navbar-brand img{
    width: 373px;
    max-width: 100%;
}

.navbar .nav-item .free-dostava-btn {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    color: #fff;
    align-self: center;
}

.meni .card .card-body {
    width: 373px;
    max-width: 100%;
}

.navbar .nav-item.free-dostava-item {
    display: flex;
}

.navbar-collapse {
    max-height: 70vh;
    overflow: auto;
}
.meni .card .card-img-top{
    width: 373px;
    max-width: 100%;
}
/* .navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    background: #FFF;
    width: 100%;
}

.navbar .meni ul li {
    display:inline-block;
} */

.navbar .call-to-action a {
    color: #fff;
    background-color:  var(--primary-color);
}
.navbar .call-to-action .radno-vreme {
    display: block;
    font-size: 0.75rem;
}

.navbar .call-to-action {
    text-align: center;
}

.navbar-content-pusher {
    position: unset !important;
}

.meni .accordion-button:focus {
    box-shadow: unset;
}

.meni .accordion-button:not(.collapsed) {
    color: unset;
    background-color: unset;
    box-shadow: unset;
}

.meni .accordion-button::after {
    margin-left: 5px;
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
}

#map-canvas {
    height: 60vh !important;
    width: 100%;
    min-height: 300px;
    /* Other styles you might have... */
  }

footer{
    width: 100%;
    color:#FFF;
}

.dodaci-grid-container {
    display: grid;
    grid-template-columns: auto auto auto; /* Specifies three columns */
    gap: 10px; /* Space between grid items */
    padding: 10px;
}

.dodaci-grid-item {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.zone .address a {
    text-decoration: underline;
    text-decoration-color: #000;
    color: #000;
}

.mobile-bottom-bar {
    height: auto;
    top: unset;
    position: fixed !important;
}

.mobile-bottom-bar i {
    display: inline;
    line-height: 1;
    font-size: 2.25rem;
}

.mobile-bottom-bar .phone-icon {
    color: var(--primary-color);
}

.mobile-bottom-bar .location-icon {
    color:  var(--secondary-color);
}

.mobile-bottom-bar a {
    text-decoration: unset;
}

.slatki-dodaci .slatki-dodaci-items {
    max-width: 700px;
}

.slani-dodaci .slani-dodaci-gramaza, .slani-dodaci-cena {
    text-underline-offset: 4px;
}

.socialIcons a{
    text-decoration: none;
    margin: 7px;
}

.socialIcons a i {
    font-size: 2em;
    color: #fff;
    opacity: 0.9;
}

.footernav {
    margin: 30px 0px;
}

.flex-basis-0 {
    flex-basis: 0;
}

.footer-wrapper {
    background-color: var(--primary-color);
}

.footer-wrapper a, .footer-wrapper li {
    color: #fff;
}

footer h2 {
    text-decoration: underline;
    text-underline-offset: 4px;

}

.footer-wrapper a:hover,a:focus,a:active {
    color: #fff !important;
}